<a href="https://colab.research.google.com/github/Nishchitha-Amin/Internship/blob/main/Chance_of_Admission_for_Higher_Studies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [5]:
admission=pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Admission%20Chance.csv')

In [6]:
admission.head()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [7]:
admission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No          400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4    SOP               400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [8]:
admission.describe()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [9]:
admission.columns

Index(['Serial No', 'GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [10]:
y=admission['Chance of Admit ']

In [11]:
X=admission[['Serial No', 'GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research']]

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test=train_test_split(X,y,train_size=0.7,random_state=2529)

In [14]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((280, 8), (120, 8), (280,), (120,))

In [15]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [16]:
model.fit(X_train,y_train)

LinearRegression()

In [17]:
model.intercept_

-1.3491869284562994

In [18]:
model.coef_

array([ 0.00018075,  0.00217672,  0.00396487,  0.00836627, -0.00080004,
        0.02030329,  0.09551552,  0.01979659])

In [19]:
y_pred = model.predict(X_test)

In [20]:
y_pred

array([0.71638511, 0.75610311, 0.68760789, 0.68124699, 0.56927168,
       0.91423484, 0.90562753, 0.72569757, 0.79088749, 0.59675934,
       0.59489304, 0.80774252, 0.54572472, 0.77132503, 0.8737274 ,
       0.66751677, 0.61934136, 0.67447953, 0.73484064, 0.84425246,
       0.62922545, 0.86090216, 0.82814605, 0.9151533 , 0.68755296,
       0.63544487, 0.6134806 , 0.57723203, 0.51557048, 0.61715529,
       0.52595747, 0.76388331, 0.69695739, 0.75953801, 0.62049587,
       0.53097396, 0.40200383, 0.87065079, 0.92286173, 0.78952969,
       0.71932513, 0.73604218, 0.70278395, 0.90704   , 0.80062706,
       0.81781888, 0.91769447, 0.86667679, 0.58887763, 0.48098577,
       0.62564848, 0.61917228, 0.8041983 , 0.46620308, 0.71182598,
       0.74243792, 0.69141228, 0.63484399, 0.82789223, 0.6680648 ,
       0.64158042, 0.93553342, 0.66537654, 0.65115639, 0.73074156,
       0.69630576, 0.59954454, 0.91516057, 0.57456458, 0.90601273,
       0.5702746 , 0.92658714, 0.62468054, 0.71689836, 0.5250502 ,
       0.86364436, 0.60792138, 0.72722255, 0.66042681, 0.82080932,
       0.7225671 , 0.89929811, 0.67637301, 0.49554676, 0.75688317,
       0.64865133, 0.77128243, 0.57848782, 0.79141629, 0.67201156,
       0.68439077, 0.68509744, 0.91922614, 0.67840876, 0.65244089,
       0.64779263, 0.77551969, 0.67516585, 0.76765527, 0.60929075,
       0.96500346, 0.69771574, 0.97109768, 0.8244446 , 0.80824716,
       0.86627331, 0.65875764, 0.69147515, 0.60381244, 0.59431034,
       0.81010835, 0.69414677, 0.76932107, 0.57984938, 0.54290832,
       0.73859636, 0.70651852, 0.62741334, 0.84271712, 0.66928116])

In [21]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

In [22]:
mean_absolute_error(y_test,y_pred)

0.043087147233558505

In [23]:
mean_absolute_percentage_error(y_test,y_pred)

0.07400437276133896

In [24]:
mean_squared_error(y_test,y_pred)

0.003922607781791491